@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

body{
  font-family: 'Titillium Web', sans-serif;
  background-color: rgb(194, 192, 192);
}

.container{
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 500px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.buttons-span{
  display: flex;
  align-items: center;
  justify-content: stretch;
}

span button{
  width: 50%;
  height: 53px;
  border: none;
  font-size: 20px;
  color: #ffffff;
}

.sign{
  background-color: #1ab188;
}

.log{
  background-color: rgb(107, 109, 109);
}

.h1{
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
}

/*span que contiene todos los inputs*/ 

.all-inputs-span{
  display: flex;
  flex-direction: column;
  
}

span input{
  height: 30px;
  font-size: 22px;
  padding: 5px 10px;
  background: none;  
  border: 1px solid #a0b3b0;
  color: #ffffff;
  margin-bottom: 35px;
}

/*Span que contiene los dos primeros inputs**/
.tiny-inp-span{
  display: flex;
  justify-content: space-between;
}

.tiny-inp{
  width: 43%;
}

.start-button{
  width: 100%;
  background-color: #1ab188;
  border: none;
  color: #ffffff;
  padding: 20px;
  font-size: 30px;
}

button:hover{
  background-color: #149673;
  cursor: pointer;
}






